.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {

}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.login {
  list-style: none;
  color: black;
}



.nav-link {
  font-size: 20px;
  margin-right: 40px;
  font-style: italic;

}





