.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {

}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.login {
  list-style: none;
  color: black;
}

